
Ferreteria Online/FerreteriaOnline/.vs/slnx.sqlite

Ferreteria Online/FerreteriaOnline/.vs/VSWorkspaceState.json

Ferreteria Online/FerreteriaOnline/bin/Debug/FerreteriaOnline.exe

Ferreteria Online/FerreteriaOnline/obj/Debug/FerreteriaOnline.pdb

Ferreteria Online/FerreteriaOnline/obj/Debug/FerreteriaOnline.exe

Ferreteria Online/FerreteriaOnline/obj/Debug/FerreteriaOnline.csproj.GenerateResource.cache

Ferreteria Online/FerreteriaOnline/obj/Debug/FerreteriaOnline.csproj.FileListAbsolute.txt

Ferreteria Online/FerreteriaOnline/obj/Debug/FerreteriaOnline.csproj.AssemblyReference.cache

Ferreteria Online/FerreteriaOnline/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Ferreteria Online/FerreteriaOnline/bin/Debug/FerreteriaOnline.pdb

sqltools_20210615195141_4756.log
