
@{
    ViewBag.Title = "FerreteriaOnline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FerreteriaOnline</h2>

<h1>User</h1>
<input id="User" type="text" />

<h1>Password:</h1>
<input id="Password" type="text" />

